<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<header>
    <div class="logo">
        <h2>Chào mừng {{ session['username'] }}!</h2>
    </div>
    <nav>
        <ul class="menu">
            
            {% if session['role'] == 'admin' %}
            <li><a href="/add">Thêm sinh viên</a></li>
            <li><a href="/manage_students">Quản lý sinh viên</a></li>
            <li><a href="/delete_student">Xóa sinh viên</a></li>
            <li><a href="/edit_student">Sửa sinh viên</a></li>
            {% endif %}
            <li><a href="/search">Tìm kiếm</a></li>
            <li><a href="/logout" class="logout">Đăng xuất</a></li>
        </ul>
    </nav>
</header>
<body>
    <div class="container">
        <h2>Register</h2>
        <form method="POST" action="/register">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Register</button>
        </form>
        <p><a href="/login">Already have an account? Login here</a></p>
    </div>
</body>
</html>
